body{
	margin:0px; /* Entfernt Abstand zum Rand des Fensters */
	background-color:rgb(50,50,50);
	color:#FFFFFF;
}

#abakus{ /* Der komplette Abakus */
	position:absolute; /* Feste Vergabe von Positionen */
	left:0px; /* Ganz links */
	top:60px; /* 60 Pixel Abstand nach oben */
	height:500px; /* Höhe von 500 Pixel */
	width:800px; /* 800 Pixel breit */
}

#abakusLeft{ /* Linke Stange des Abakus */
	position:absolute;
	left:0px;
	height:500px;
	width:3%; /* Breite von 2% des Browserfensters */
	background-color:rgb(179,114,82); /* Braune Färbung */
}

#abakusRight{ /* Rechte Stange des Abakus */
	position:absolute;
	right:0px; /* Ganz rechts */
	height:500px;
	width:3%;
	background-color:rgb(179,114,82);
}

#abakusInner{ /* Box zwischen den beiden Stangen */
	position:absolute;
	left:3%;
	width:94%; /* Rechts und links Stangen mit 2% Breite */
	height:500px;
}

.row{ /* Reihe mit Stange und Kugeln */
	position:absolute;
	width:100%;
	height:10%;
}

.rowpole{ /* Stange, auf der sich die Kugeln befinden */
	position:absolute;
	left:0px;
	width:100%;
	background-color:rgb(233,211,187);
	height:30%;
	top:35%;
}

/* Höhen der einzelnen Reihen */
#row1{
	top:85%;
}

#row2{
	top:63%;
}

#row3{
	top:42%;
}

#row4{
	top:21%;
}

#row5{
	top:0px;
}

.pearl{ /* Kugeln */
	position:absolute;
	background-color:rgb(110, 173, 48);
	height:100%;
	width:4%;
	border-radius:50%; /* Abrundung der Ecken sodass es eine Kugel wird (Bzw Ellipse) */
	left:0%;
	transition: left 250ms linear; /* Linearer Übergang bei Veränderungen von left */
}

.pgruen{
	background-color:rgb(40,78,63);
}

.pweiss{
	background-color:rgb(253,254,249);
}

.pblau{
	background-color:rgb(47,79,128);
}

.prot{
	background-color:rgb(210,35,18);
}
.pgelb{
	background-color:rgb(242, 231, 126);
}

#valueBox{ /* Erste Anzeige des gesamten Wertes über dem Abakus */
	position:absolute;
	left:0px;
	top:30px;
	width:800px;
	text-align:center; /* Zentrierter Text */
	height:30px;
}

#addBox{ /* Zweite Anzeige des Wertes und Eingabe für Addition/Subtraktion */
	position:absolute;
	left:0px;
	top:600px;
	width:800px;
	height:30px;
}
